{% extends 'base.html' %}
{% load static %}

{% block headextras %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account-profile.css' %}"/>

{% endblock %}
{% block body %}
    <h1>Profile</h1>
    <p>Here is your account information:</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>
    <h2>Change Password</h2>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    <h2>Linked Social Accounts</h2>
    {% if socialaccount_set %}
        <ul>
            {% for socialaccount in socialaccount_set %}
                <li>{{ socialaccount.provider }}: {{ socialaccount.uid }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not linked any social accounts yet.</p>
    {% endif %}
{% endblock %}
